{%- extends "base.html" %}

{% block head %}
<title>Employee Management</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Human Resource Management</h1>
    <form class="form-inline mb-4" method="POST" action="{{ url_for('management.list_management') }}">
        <div class="input-group w-100">
            <div class="input-group-prepend">
                <label class="input-group-text bg-dark text-white border-0" for="search-category">Suche nach</label>
            </div>
            <select class="custom-select bg-dark text-white border-0" id="search-category" name="search-category">
                <option value="lastname" {% if search_category == 'lastname' %} selected {% endif %}>Nachname</option>
                <option value="central_name" {% if search_category == 'central_name' %} selected {% endif %}>Zentralname</option>
                <option value="region" {% if search_category == 'region' %} selected {% endif %}>Region</option>
            </select>
            <input class="form-control bg-dark text-white border-0" type="search" placeholder="Search"
                aria-label="Search" id="search-input" name="search-input" value="{{ search_input }}">
            <div class="input-group-append">
                <button class="btn btn-secondary btn-outline-secondary border-0" type="button" id="reset-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-backspace-fill" viewBox="0 0 18 18">
                        <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8z"/>
                      </svg>
                </button>
                <button class="btn btn-secondary border-0" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-search" viewBox="0 0 18 18">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                      </svg>
                    Suchen
                </button>
            </div>
        </div>
    </form>
    <script>
        document.getElementById('reset-button').addEventListener('click', function() {
            document.getElementById('search-category').selectedIndex = 0;
            document.getElementById('search-input').value = '';
            document.forms[0].submit();
        });
    </script>
    <div class="d-flex justify-content-end mb-4">
        <button class="btn btn-success" data-toggle="modal" data-target="#addModal">
            Mitarbeiter hinzufügen
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 18 18">
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
              </svg>
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead">
                <tr>
                    <th scope="col">Nachname</th>
                    <th scope="col">Vorname</th>
                    <th scope="col">Job</th>
                    <th scope="col">Straße</th>
                    <th scope="col">Region</th>
                    <th scope="col">Postleitzahl</th>
                    <th scope="col">Gehalt</th>
                    <th scope="col">Zentrale</th>
                    <th scope="col">Bearbeiten</th>
                </tr>
            </thead>
            <tbody>
                {% if employees %}
                {% for employee in employees %}
                <tr>
                    <td>{{ employee['lastname'] }}</td>
                    <td>{{ employee['firstname'] }}</td>
                    <td>{{ employee['job'] }}</td>
                    <td>{{ employee['streetname'] }}</td>
                    <td>{{ employee['region'] }}</td>
                    <td>{{ employee['zipcode'] }}</td>
                    <td>{{ employee['monthly_wage'] }}</td>
                    <td>{{ employee['central_name'] }}</td>
                    <td>
                        <button data-toggle="modal" data-target="#editModal"
                            data-id="{{ employee['_id'] }}" data-lastname="{{ employee['lastname'] }}"
                            data-firstname="{{ employee['firstname'] }}" data-job="{{ employee['job'] }}"
                            data-streetname="{{ employee['streetname'] }}" data-region="{{ employee['region'] }}"
                            data-zipcode="{{ employee['zipcode'] }}" data-monthly_wage="{{ employee['monthly_wage'] }}"
                            data-central_id="{{ employee.get('central_id', '') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" class="bi bi-pencil-square" viewBox="0 0 18 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                              </svg>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="8">No employees found.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <!-- Add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-between">
                    <h5 class="modal-title" id="addModalLabel">Mitarbeiter hinzufügen</h5>
                    <button type="button" class="btn btn-danger" fill="#5a3b8d" data-dismiss="modal">
                        Abbrechen
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 18 18">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                          </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add-form" method="POST" action="{{ url_for('management.add_employee') }}">
                        <div class="form-group">
                            <label for="add-lastname">Nachname</label>
                            <input type="text" class="form-control text-white" id="add-lastname" name="lastname" required>
                        </div>
                        <div class="form-group">
                            <label for="add-firstname">Vorname</label>
                            <input type="text" class="form-control" id="add-firstname" name="firstname" required>
                        </div>
                        <div class="form-group">
                            <label for="add-job">Job</label>
                            <input type="text" class="form-control" id="add-job" name="job" required>
                        </div>
                        <div class="form-group">
                            <label for="add-streetname">Straße</label>
                            <input type="text" class="form-control" id="add-streetname" name="streetname" required>
                        </div>
                        <div class="form-group">
                            <label for="add-region">Region</label>
                            <input type="text" class="form-control" id="add-region" name="region" required>
                        </div>
                        <div class="form-group">
                            <label for="add-zipcode">Postleitzahl</label>
                            <input type="text" class="form-control" id="add-zipcode" name="zipcode" required>
                        </div>
                        <div class="form-group">
                            <label for="add-monthly_wage">Gehalt</label>
                            <input type="number" class="form-control" id="add-monthly_wage" name="monthly_wage"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="add-central_id">Zentrale</label>
                            <select class="form-control" id="add-central_id" name="central_id">
                                {% for central in centrals %}
                                <option value="{{ central['_id'] }}">{{ central['name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            <button type="submit" class="btn btn-success">Add Employee</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-between">
                    <h5 class="modal-title" id="editModalLabel">Edit Employee</h5>
                    <button type="button" class="btn btn-danger" fill="#5a3b8d" data-dismiss="modal">
                        Abbrechen
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 18 18">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                          </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="edit-form" method="POST" action="{{ url_for('management.edit_employee') }}">
                        <div class="form-group">
                            <label for="edit-id">Id</label>
                            <input type="text" class="form-control" id="edit-id" name="id" readonly>
                        </div>
                        <div class="form-group">
                            <label for="edit-lastname">Nachname</label>
                            <input type="text" class="form-control" id="edit-lastname" name="lastname" required>
                        </div>
                        <div class="form-group">
                            <label for="edit-firstname">Vorname</label>
                            <input type="text" class="form-control" id="edit-firstname" name="firstname" required>
                        </div>
                        <div class="form-group">
                            <label for="edit-job">Job</label>
                            <input type="text" class="form-control" id="edit-job" name="job" required>
                        </div>
                        <div class="form-group">
                            <label for="edit-streetname">Straße</label>
                            <input type="text" class="form-control" id="edit-streetname" name="streetname" required>
                        </div>
                        <div class="form-group">
                            <label for="edit-region">Region</label>
                            <input type="text" class="form-control" id="edit-region" name="region" required>
                        </div>
                        <div class="form-group">
                            <label for="edit-zipcode">Postleitzahl</label>
                            <input type="text" class="form-control" id="edit-zipcode" name="zipcode" required>
                        </div>
                        <div class="form-group">
                            <label for="edit-monthly_wage">Gehalt</label>
                            <input type="number" class="form-control" id="edit-monthly_wage" name="monthly_wage"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="edit-central_id">Zentrale</label>
                            <select class="form-control" id="edit-central_id" name="central_id">
                                {% for central in centrals %}
                                <option value="{{ central['_id'] }}">{{ central['name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <form id="edit-form" method="POST" action="{{ url_for('management.edit_employee') }}"
                            class="mt-2">
                            <input type="hidden" id="edit-id" name="id">
                            <input type="hidden" id="edit-lastname" name="lastname">
                            <input type="hidden" id="edit-firstname" name="firstname">
                            <input type="hidden" id="edit-central" name="central_id">
                            <div class="d-flex justify-content-between mt-3">
                                <button type="submit" class="btn btn-primary">Speichern
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-download" viewBox="0 0 18 18">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                                  </svg>
                                </button>
                            </div>
                        </form>
                        <form id="delete-form" method="POST" action="{{ url_for('management.delete_employee') }}"
                            onsubmit="return confirmDelete();" class="mt-2">
                            <input type="hidden" id="delete-id" name="id">
                            <input type="hidden" id="delete-lastname" name="lastname">
                            <input type="hidden" id="delete-firstname" name="firstname">
                            <div class="d-flex justify-content-end mt-3">
                                <button type="submit" class="btn btn-danger">
                                    Kündigen
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 18 18">
                                        <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5"/>
                                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var lastname = button.data('lastname');
        var firstname = button.data('firstname');
        var job = button.data('job');
        var streetname = button.data('streetname');
        var region = button.data('region');
        var zipcode = button.data('zipcode');
        var monthly_wage = button.data('monthly_wage');
        var central_id = button.data('central_id');

        var modal = $(this);
        modal.find('#edit-id').val(id);
        modal.find('#edit-lastname').val(lastname);
        modal.find('#edit-firstname').val(firstname);
        modal.find('#edit-job').val(job);
        modal.find('#edit-streetname').val(streetname);
        modal.find('#edit-region').val(region);
        modal.find('#edit-zipcode').val(zipcode);
        modal.find('#edit-monthly_wage').val(monthly_wage);
        modal.find('#edit-central_id').val(central_id);

        // Set the id for delete form
        modal.find('#delete-id').val(id);
        modal.find('#delete-lastname').val(lastname);
        modal.find('#delete-firstname').val(firstname);
    });

    function confirmDelete() {
        var lastname = $('#delete-lastname').val();
        var firstname = $('#delete-firstname').val();
        return confirm(`Sind sie sicher, dass Sie ${firstname} ${lastname} entfernen wollen?`);
    }
</script>

{% endblock %}