{% extends "base.html" %}

{% block title %}Performance-Berichte{% endblock %}
{% block head%}
<link href="{{ url_for('static', filename='css/performance.css') }}" rel="stylesheet">
{% endblock %}

{% block body%}
    <div class="container-fluid d-grid align-items-center">
        {% if show_toolbar is defined and show_toolbar %}
        <div class="container-fluid text-end row gap-3 pt-3 ">
            <form id="print-form" method="post" action="{{ url_for('performance.print_performance_pdf') }}">
                <input type="search" class="textfield rounded secondary_background-color" id="pdf_filename" name="pdf_filename" placeholder="Filename ... " autofocus>
                <button type="submit" class="btn btn-danger" id="remove-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg> Drucken
                </button>
            </form>
        </div>
        {% endif %}
        <div class="container align-content-center text-center">
            <div class="row chart-page">
                <h1>Car rental example Performance Preview</h1>
            </div>
            <div class="row charts">
                <img  class="rounded-5 row charts" src="{{ url_for('static', filename='diagrams/type_usage_pie_chart.png') }}" alt="Usage Pie chart">
                <div class="">
                    <h2 class="row">Nutzungsverteilung der verschiedenen Fahrzeugtypen in laufenden oder vergangenden Mietverträgen</h2>
                    <h3 class="row"> Abgebildet ist ein Kuchendiagramm, dass die prozentuale Nutzungsverteilung der verschieden angebotenen Fahrzeugtypen darstellt. Die genutzten Daten beziehen sich auf alle Mietverträge aus dem derzeitigen Jahr.</h3>
                </div>
            </div>
            <div class="row charts" style="break-before: page">
                <img  class="rounded-5 row charts" src="{{ url_for('static', filename='diagrams/revenue_quater.png') }}" alt="Usage Pie chart">
                <div class="">
                    <h2 class="row">Einfache Kosten- und verlustrechnung für das derzeitige und rückwirkende Quartal</h2>
                    <h3 class="row">Abgebildet sind alle Kosten und Einnahmen von allen zurückwirkend Quarteln. Für das derzeitige werden alle noch anstehenden Einnahmen als potenzielle Einnahmen angegeben.</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Einbindung von Chart.js und deinem charts.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
<script>
    // Ruft die Daten ab und ruft die Funktion zum Rendern der Diagramme auf
    fetch('/performance_reports')
        .then(response => response.json())
        .then(data => renderCharts(data))
        .catch(error => console.error('Fehler beim Laden der Daten:', error));
</script>
{% endblock %}
