@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Basic colors */
:root {
    --primary-background-color: #222222; /* Antracite */
    --primary-background-color_lalpha: #22222295;
    --primary-background-color_halpha: #22222230;
    --secondary-background-color: #6C757D; /* light Gray */
    --primary-accent-color: #5a3b8d; /* Purple */
    --primary-accent-color-lalpha: #8540F595;
    --primary-accent-color-halpha: #8540F530;
    --success-color: #28a745;  /* Green */
    --warning-color: #ffc107;  /* Yellow */
    --danger-color: #dc3545;   /* Red */
    --white-font-color: #fcffda;

    --alpha_light: 0.95; /* slight Alpha */
    --alpha_heavy: 0.30; /* noticble Alpha*/

    --font-primary: "Open Sans", sans-serif;
}

.primary_background_color { background-color: var(--primary-background-color) !important;}
.secondary_background-color { background-color: var(--secondary-background-color) !important;}
.primary_accent_color { background-color: var(--primary-accent-color) !important;}
.transparent_background{ background-color: transparent !important;}
.success_color { color: var(--success-color);}
.warning_color { color: var(--warning-color);}
.danger_color { color: var(--danger-color);}
.white_font { color: var(--white-font-color)}

body {
    background-color: var(--primary-background-color_lalpha);
    font-family: var(--font-primary);
    max-width: none;
    color: #fff;
}

.header {
    background-color: var(--primary-background-color);
    margin-left: 0px;
    margin-right: 0px;
    max-width: none;
    width: auto;
}

body {
    background-color: #2b2b2b;
    color: #fff;
}

.form-container {
    margin-top: 50px;
}

.form-group input {
    background-color: #3c3c3c;
    border: 1px solid #6f42c1;
    color: #fff;
}

.form-group input:focus {
    background-color: #3c3c3c;
    border-color: #5a28a1;
    box-shadow: none;
}

.btn-primary {
    background-color: var(--primary-accent-color);
    border-color: #5a28a1;
}

.btn-primary:hover {
    background-color: #5a28a1;
    border-color: #5a28a1;
}

.btn-secondary {
    background-color: #4b4b4b;
    border-color: #5a28a1;
}

.btn-secondary:hover {
    background-color: #b8b8b8;
    border-color: #5a28a1;
}

.card {
    background-color: var(--primary-background-color);
    border: 1px solid var(--primary-accent-color);
    border-radius: 10px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
}

.card-body {
    padding: 2rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.text-decoration-none {
    text-decoration: none !important;
}

.vh-100 {
    height: 100vh !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4) !important;
}
/*
    Navbar design
 */
.navbar {
    --bs-bg-opacity: 1;
    background-color: var(--primary-accent-color);
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding: 0px;
}

div.navbar {
    width: auto;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.nav-item {
    background-color: var(--primary-accent-color);
}

.nav-item:hover {
    background-color: hsla(0, 0%, 95%, 0.2)
}
/*
    table design
 */
.table {
    background-color: var(--primary-background-color) !important;
    border-color: var(--primary-background-color) !important;
    border-radius: 5px;
    text-align: center;
}

.table thead {
    background-color: transparent !important;
}

.table tbody {
    background-color: transparent !important;
}

.table tr {
    border-radius: 5px !important;
}

.table th {
    background-color: transparent !important;
    color: var(--white-font-color) !important;
}

.table td {
    background-color: var(--secondary-background-color) !important;
}

.table button {
    background-color: var(--primary-background-color);
    color: var(--white-font-color);
    border-radius: 25px;
    border-color: var(--primary-background-color);
}

.table button:hover {
    background-color: var(--primary-background-color_lalpha);
    background: var(--primary-background-color_halpha);
}

/*
    modal design
 */

.modal-header {
    background-color: var(--primary-background-color) !important;
    color: var(--font-primary) !important;
}

.modal-content {
    background-color: var(--secondary-background-color);
    color: var(--font-primary) !important;
}