@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Basic colors */
:root {
    --primary-background-color: #222222; /* Antracite */
    --primary-background-color_lalpha: #22222295;
    --primary-background-color_halpha: #22222230;
    --secondary-background-color: #6C757D; /* light Gray */
    --primary-accent-color: #5a3b8d; /* Purple */
    --primary-accent-color-lalpha: #8540F595;
    --primary-accent-color-halpha: #8540F530;
    --success-color: #28a745;  /* Green */
    --warning-color: #ffc107;  /* Yellow */
    --danger-color: #dc3545;   /* Red */
    --white-font-color: #fcffda;

    --alpha_light: 0.95; /* slight Alpha */
    --alpha_heavy: 0.30; /* noticble Alpha*/

    --font-primary: "Open Sans", sans-serif;
}

.primary_background_color { background-color: var(--primary-background-color) !important;}
.secondary_background-color { background-color: var(--secondary-background-color) !important;}
.primary_accent_color { background-color: var(--primary-accent-color) !important;}
.transparent_background{ background-color: transparent !important;}
.success_color { color: var(--success-color);}
.warning_color { color: var(--warning-color);}
.danger_color { color: var(--danger-color);}
.white_font { color: var(--white-font-color)}

body {
    background-color: var(--primary-background-color_lalpha);
    font-family: var(--font-primary);
    max-width: none;
    color: #fff;
}

.header {
    background-color: var(--primary-background-color);
    margin-left: 0px;
    margin-right: 0px;
    max-width: none;
    width: auto;
}

body {
    background-color: #2b2b2b;
    color: #fff;
}

.form-container {
    margin-top: 50px;
}

.form-group input {
    background-color: #3c3c3c;
    border: 1px solid #6f42c1;
    color: #fff;
}

.form-group input:focus {
    background-color: #3c3c3c;
    border-color: #5a28a1;
    box-shadow: none;
}

.form-control {
    background-color: #343a40; /* Dark background */
    border: 1px solid #ced4da; /* Light border */
    color: white; /* Default text color */
}

.form-control:focus {
    color: rgba(207, 247, 169, 0.815); /* Text color on focus */
    background-color: #3b837f91; /* Ensure background stays dark */
    border-color: #587756; /* Change border color on focus */
    outline: 0; /* Remove outline */
    box-shadow: 0 0 0 0.2rem rgba(128, 189, 255, 0.25); /* Add a slight shadow for focus */
}

.btn-primary {
    background-color: var(--primary-accent-color);
    border-color: #5a28a1;
}

.btn-primary:hover {
    background-color: #5a28a1;
    border-color: #5a28a1;
}

.btn-secondary {
    background-color: #4b4b4b;
    border-color: #5a28a1;
}

.btn-secondary:hover {
    background-color: #b8b8b8;
    border-color: #5a28a1;
}

.card {
    background-color: var(--primary-background-color);
    border: 1px solid var(--primary-accent-color);
    border-radius: 10px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
}

.card-body {
    padding: 2rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.text-decoration-none {
    text-decoration: none !important;
}

.vh-100 {
    height: 100vh !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4) !important;
}
/*
    Navbar design
 */
.navbar {
    --bs-bg-opacity: 1;
    background-color: var(--primary-accent-color);
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding: 0px;
}

div.navbar {
    width: auto;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.nav-item {
    background-color: var(--primary-accent-color);
    border-radius: 10px;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-item .nav-link {
    color: #ffffff !important;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-item-logout {
    background-color: var(--primary-accent-color);
    border-radius: 10px;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-item-logout .nav-link {
    color: #91888f !important;
}

.nav-item-logout:hover {
    background-color: rgba(121, 24, 24, 0.548);
} 

.nav-link.active {
    background-color: #7c4e9c; /* Darker purple color */
    color: rgb(255, 255, 255); /* Ensure the text is readable */
    border-radius: 10px;
}

/* Table design */
.table {
    background-color: var(--primary-background-color) !important;
    border-color: var(--primary-background-color) !important;
    border-radius: 5px;
    text-align: center;
    color: var(--white-font-color);
    font-family: var(--font-primary);
}

.table thead {
    background-color: var(--primary-background-color) !important;
    border-bottom: 2px solid var(--primary-accent-color);
}

.table tbody {
    background-color: transparent !important;
}

.table tbody tr:nth-child(even) td {
    background-color: var(--primary-accent-color-halpha) !important;
}

.table tbody tr:nth-child(odd) td {
    background-color: var(--primary-background-color_lalpha) !important;
}

.table th {
    background-color: transparent !important;
    color: var(--white-font-color) !important;
}

.table td {
    background-color: var(--primary-background-color_lalpha) !important;
    color: var(--white-font-color) !important;
}

.table button {
    background-color: var(--primary-accent-color);
    color: var(--white-font-color);
    border-radius: 25px;
    border-color: var(--primary-accent-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.table button:hover {
    background-color: var(--primary-accent-color-lalpha);
}

/*
    modal design
 */
.modal-header {
    background-color: var(--primary-accent-color) !important;
    color: var(--font-primary) !important;
}

.modal-content {
    background-color: var(--primary-background-color);
    color: var(--font-primary) !important;
}

/*
    checkbox design
 */
.checkbox {
    background-color: var(--primary-accent-color);
    border-color: var(--primary-background-color);
}

.checkbox:checked {
    background-color: #7c4e9c;
    border-color: var(--primary-background-color);
}

.checkbox:active {
    border-color: var(--white-font-color);
}

.checkbox:focus {
    border-color: var(--white-font-color);
    box-shadow: 0px 0px 5px 3px #7c4e9c;
}

/*
    alert design
 */
.custom-alert {
    position: fixed; /* Ensures alert overlays content */
    top: 10px;
    right: 10px;
    z-index: 9999;
    opacity: 1;
    transition: opacity 2s ease-in-out; /* Transition for smooth fade */
}

.custom-alert.fade.out {
    opacity: 0; /* Animate opacity to 0 for fading out */
}